$gold: #e8b968

*
	box-sizing: border-box

body
	padding: 0
	margin: 0
	font-family: 'Lora', serif
	height: 4000px


.hero-section
	background-image: url('../img/sky-photo.jpg')
	height: 100vh
	margin: 0
	background-size: cover
	background-position: center, center
	position: relative
	width: 100%
	.contint
		position: absolute
		top: 30%
		left: 50%
		transform: translate(-50%, -50%)
		text-align: center
		color: #fff
	h1
		margin-bottom: 30px
	img
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		width: 100px
		height: 100px
	button
		background: #7accc8
		border: none
		border-radius: 5px
		padding: 10px 40px
		color: #fff
		position: absolute
		left: 50%
		transform: translate(-50%)
		bottom: 50px

.min-ipad
	background: $gold
	color: #fff
	position: relative
	padding: 50px 0
	padding-bottom: 170px
	h3
		margin-bottom: 35px
		font-size: 34px
	button
		background: $gold
		padding: 10px 40px
		border: 3px solid #fff
		border-radius: 3px
		margin-top: 35px
	.imge
		position: absolute
		top: 10px
		right: 350px

	.opacity
		opacity: 0.1
		position: absolute

	.ipad
		position: absolute
		top: 8px
		left: 15px


		
.slider
	height: 300px
	background: #ccc
	z-index: 9999
	

